@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Outfit';
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
}

.central-card {
  width: 375px;
  margin: 100px auto 15px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

.qr-image {
  width: 100%;
  border-radius: 15px;
}

.header-card {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  color: hsl(218, 44%, 22%);
}

.text-card {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.attribution a {
  text-decoration: none;
  color: hsl(216, 100%, 61%);
}